*{
  text-align: center;
}

table {
  margin-left:auto;
  margin-right:auto;
}

table,
th,
td {
  border-collapse: collapse;
}

#e12, #e22, #e32 {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

#e21, #e22, #e23 {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

h1 {
  font-size: 5em;
}

h2 {
  text-align: center;
  margin: 5px;
}

button {
  text-align: center;
}

td {
  height: 200px;
  width: 200px;
}

.title {
  font-size: 3em;
  margin: 10px;
  text-align: center;
}

.game {
  margin: 0 auto;
}

.active {
  background: #868686;
  text-align: center;
}

.o {

}
