table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.game {
  margin: 0 auto;
}

button {
  text-align: center;
}

td {
  height: 200px;
  width: 200px;
}

.active {
  background: #868686;
}
